body{
    margin: 0 auto;
    background-image: url(/img-esvi/background.jpg);
}
.header{
    height: 270px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-image: url(/img-esvi/Rectangle\ 6.png);
}
.header-link{
    font-size: 96px;
    display: flex;
    margin-top: 35px;
    margin-left: 60px;
    font-family: "Amarante",serif;
}
.header-contact{
    font-size: 30px;
    height: 50px;
    display: flex;
    justify-content: right;
    margin-bottom: 3px;
    font-family: "Amarante",serif;
}
.header-container-text{
    margin: 10px;
    font-size: 20px;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Amarante",serif;
    font-size: 25px;
}
.wrap{
    margin-right: 120px;
}

/* section----------------------------------------------------- */

.section-link{
    width: 40vw;
    height: 621px;
    background-image: url(/img-esvi/Stickers.jpg);
    background-size: cover;
    font-family: "Amarante",serif;
    border: 9px solid #DBED0B;
}
.section-link2{
    width: 40vw;
    height: 621px;
    background-image: url(/img-esvi/Clothes.jpg);
    background-size: cover;
    font-family: "Amarante",serif;
    border: 9px solid #DBED0B;

}
.section-link3{
    margin: 0 auto;
    width: 90vw;
    height: 621px;
    display: flex;
    background-image: url(/img-esvi/Picture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Amarante",serif;
    border: 9px solid #DBED0B;
}
.section-wrap{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    margin-bottom: 120px;
}
.section-button{
    margin-top: 520px;
    margin-left: 170px;
    font-size: 48px;
    width: 214px;
    height: 72px;
    border-radius: 20px;
    background-color: #DBED0B;
}
.section-button2{
    margin-top: 520px;
    margin-left: 170px;
    font-size: 48px;
    width: 214px;
    height: 72px;
    border-radius: 20px;
    background-color: #DBED0B;
}
.section-button3{
    margin-top: 490px;
    margin-left: 650px;
    font-size: 96px;
    width: 379px;
    height: 105px;
    border-radius: 20px;
    background-color: #DBED0B;
}
main{
    margin-top: 210px;
    height: 200px;
    background-image: url(/img-esvi/Rectangle\ 7.png);
    font-family: "Amarante",serif;
}
.main-wrap{
    display: flex;
    justify-content: space-between;


}
.right{
 margin-left: 50px;
 margin-top: 30px;
}
.left{
    margin-top: 30px;
    margin-right: 50px;
}
.main-link2{
    margin-top: 100px;
    font-size: 40px;
}
.main-link1{
    font-size: 32px;
}
.text1{
    font-size: 25px;
    margin-left: 120px;
}
.main-text2{
    font-size: 32px;
}
.text2{
    font-size: 25px;
}
.Reviews{
    color: black;
}
.go{
    color: #DBED0B;
}
